/*$theme-colors: (
    'primary': #145bea,
    'secondary': #833bec,
    'success': #1ce1ac,
    'info': #ff7d50,
    'warning': #ffbe0b,
    'danger': #ff007f,
    'light': #c0ccda,
    'dark': #001738,
    );*/

@import '~/node_modules/bootstrap/scss/bootstrap.scss';
@import '~/node_modules/bootstrap-icons/font/bootstrap-icons.css';

.code {
  font-family: 'Courier New', monospace;
  font-size: 10pt;
  background-color: #efefef;
}

.mobile-only {
}

.desktop-only {
}

.negative {
  color: red;
}

.positive {
  color: green;
}


.mobile-border {
}

.mobile-bold {
}

.table-container {
  display: block;

  .table-item {
    border-block-color: rgb(128, 128, 128);
    border-bottom-style: solid;
    border-width: thin;
  }

  .table-item:nth-of-type(2n) {
    background-color: rgba(0, 0, 0, 0.04);
  }

  .table-item:nth-of-type(1) {
    border-block-color: black;
  }

  .table-item:nth-last-of-type(1) {
    border: none;
  }

  .hover:hover {
    background-color: lightgray !important;
  }
}

.table-list-container {
  display: block;
}

@media screen and (max-width : 1920px) {
  .mobile-only {
    display: none;
  }
}

@media screen and (max-width : 768px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: inherit;
  }
}

@media screen and (max-width : 768px) {
  .mobile-border {
    border-block-color: rgb(187, 187, 187);
    border-bottom-style: solid;
    border-width: thin;
  }

  .mobile-bold {
    font-weight: bold;
  }

  .table-item {
    border-width: medium;
  }
}
